html, body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

#root {
  height: 100%;
}

.material-symbols-rounded {
  font-weight: 300;
}

.material-symbols-rounded.filled {
  font-variation-settings: "FILL" 1;
}

.font-size-26 {
  font-size: 26px;
}

/* Font wweights */

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}